#querylist ol.dbqp-queries {
	padding: 0 !important;
	margin: 0 !important;
	list-style: none;
	clear: left;
}

#querylist ol.dbqp-queries li {
	padding: 10px;
	background: #f0f0f0;
	margin: 0 0 10px 0;
}

#querylist ol.dbqp-queries li div.qdebug {
	background: #e8e8e8;
	margin: 10px -10px -10px -10px;
	padding: 5px 150px 5px 5px;
	font-size: 11px;
	position: relative;
	min-height: 20px;
}

#querylist ol.dbqp-queries li div.qdebug span {
	position: absolute;
	font-size: 16px;
	right: 10px;
	top: 5px;
	white-space: nowrap;
}

#querylist a {
	text-decoration: underline !important;
	color: blue !important;
}

#querylist a:hover {
	text-decoration: none !important;
}

#querylist .debug-menu-target {
	margin: 20px;
	display: none;
}

#querylist ol {
	font: 12px Monaco, "Courier New", Courier, Fixed !important;
	line-height: 180% !important;
}
